.center{
    text-align: center;
}
body{
    background-color: #DCDCDC;
}
.col-example{
    background-position: center;
    transition-property: opacity;
    color: black;
    position: relative;
    justify-content: center;
    display: flex;
    width: 100%;
    height:100%;
}
  
.col-example::after{
    content: "";
    position:absoulte;
    background: rgb(52, 52, 56);
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
nav > ul {
    background-color: rgb(173, 171, 171);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}

nav a {
    color: inherit;
    display: block; 
    font-size: 3.3rem;
    padding: 15px;
    text-decoration: none;  /* 移除超連結底線 */
}


nav a:hover {
    
    color: rgba(255, 255, 255, 0.589);
}

.flex-nav {
    display: flex;
    justify-content: space-around ;
}

.inline-block-nav {
    text-align: center;
    font-size: 0; 
}

.inline-block-nav > li {
    display: inline-block;
}


.flex-icon {
    display: flex;
    justify-content: center ;
}

.inline-block-icon {
    text-align: center;
}

.inline-block-icon > li {
    display: inline-block;
}

pre {
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(159, 170, 180, 0.493);
    /*rgba(49, 47, 47, 0.096)*/
    line-height: normal;
    margin-top: 0.5m;
    margin-bottom: 1.5m;
    padding-top: 0%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    overflow: auto;
    max-width: 100%;
    border-radius: 15px;
}
p{
    margin-left: 2%;
    margin-right: 2%;
}

.in{
    margin-left: 40%;
    margin-right: 40%;
    background-color: rgb(165, 163, 163);
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.705);
    display: block; 
    font-size: 150%;
    padding: 15px;
    text-decoration: none;  /* 移除超連結底線 */
}

.in2{
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 0%;
    background-color: rgb(165, 163, 163);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    display: block; 
    font-size: 3vmin;
    padding: 1.5vmin;
    text-decoration: none;  /* 移除超連結底線 */
    text-align: center;
}

.flex-pic{
    display: flex;
    flex-direction: row ;
}

.word {
    display: flex;
    justify-content: space-around ;
    position: relative;
    transition: all 0.25s ease-in-out;

}
.word:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
.word:hover {
   background-position: 0;
   color:#2b2b2b;
   /*transform : rotate(-20deg);*/
   transform: scale(1.4); 
   border-radius : 50%;
}
  
.word:hover::before {
    width:100%;
  }

.pic{
    width: 25%;
    display:block; margin:auto;
}

@media screen and (min-width: 768px) {
    .pic{
        width: 25%;
        display:block; margin:auto;
    }
}

@media screen and (max-width: 767px) {
    .pic{
        width: 60%;
        display:block; margin:auto;
    }
}

@media screen and (min-width: 768px) {
    .pic2{
        width: 40%;
        display:block; margin:auto;
    }
}

@media screen and (max-width: 767px) {
    .pic2{
        width: 45%;
        display:block; margin:auto;
    }
}

@media screen and (min-width: 768px) {
    .pic3{
        width: 40%;
        display:block; margin:auto;
    }
}

@media screen and (max-width: 767px) {
    .pic3{
        width: 80%;
        display:block; margin:auto;
    }
}

