html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  font-family: 'EB Garamond', serif;

}

@media screen and (min-width: 800px) {
  .center{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  .el-dialog{
    margin-top: 10%;
    width: 30%;
  }
  .adjust{
    padding-top: 3%;
    
    
  }



}

@media screen and (max-width: 800px) {
  .center{
    text-align: center;
  }
  .adjust{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
  }
  .block{
    margin-right: 5%;
  }
  .el-dialog{
    margin-top: 10%;
    width: 80%;
  }
  
}



.el-menu-demo {
  font-family: 'Philosopher', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10rem;
  z-index: 999;
  background-color: #545c64;

  text-align: left;
}

.el-menu-demo .el-menu-item {
  font-size: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.circle{
  margin-top: 7rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

}

span {
  white-space: pre-wrap;
  
}

.box-card{
  margin-left: 25%;
  margin-right: 25%;
}
/*
.el-timeline-item__tail { 
  border-left:  solid #c6c6c6; 
}
.el-timeline-item__node {
  background-color: #c6c6c6;
}
*/




