html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;

}

@media screen and (min-width: 800px) {
  .center{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
  }
  .el-dialog{
    margin-top: 10%;
    width: 30%;
  }



}

@media screen and (max-width: 800px) {
  .center{
    text-align: center;
  }
  .adjust{
    margin-left: 10%;
    margin-right: 10%;
  }
  .block{
    margin-right: 5%;
  }
  .el-dialog{
    margin-top: 10%;
    width: 80%;
  }
  
}



.el-menu-demo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10rem;
  z-index: 999;
  background-color: #545c64;
  background-image: linear-gradient(to bottom, transparent 0%,#545c64 100%);
}


.circle{
  margin-top: 10rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

}




span {
  white-space: pre-wrap;
}

.box-card{
  margin-left: 25%;
  margin-right: 25%;
}





